In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Iqaluit,CA,2022-05-16 04:07:15,63.7506,-68.5145,13.15,90,100,2.84
1,1,Kralendijk,BQ,2022-05-16 04:07:04,12.1500,-68.2667,80.58,83,20,17.27
2,2,Albany,US,2022-05-16 04:06:15,42.6001,-73.9662,65.64,94,100,3.27
3,3,Mataura,NZ,2022-05-16 04:10:46,-46.1927,168.8643,61.48,73,10,2.39
4,4,Sovetskiy,RU,2022-05-16 04:10:47,61.3614,63.5842,56.73,58,16,7.56

In [5]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
print(city_data_df)

     City_ID           City Country                 Date      Lat       Lng  \
0          0        Iqaluit      CA  2022-05-16 04:07:15  63.7506  -68.5145
1          1     Kralendijk      BQ  2022-05-16 04:07:04  12.1500  -68.2667
2          2         Albany      US  2022-05-16 04:06:15  42.6001  -73.9662
3          3        Mataura      NZ  2022-05-16 04:10:46 -46.1927  168.8643
4          4      Sovetskiy      RU  2022-05-16 04:10:47  61.3614   63.5842
..       ...            ...     ...                  ...      ...       ...
552      552         Bosaso      SO  2022-05-16 04:14:26  11.2842   49.1816
553      553          Lahat      ID  2022-05-16 04:14:30  -3.8000  103.5333
554      554      Kushmurun      KZ  2022-05-16 04:14:31  52.4503   64.6311
555      555          Dawei      MM  2022-05-16 04:14:31  14.0833   98.2000
556      556  Makakilo City      US  2022-05-16 04:14:32  21.3469 -158.0858

     Max Temp  Humidity  Cloudiness  Wind Speed
0       13.15        90         100        2.84
1       80.58        83          20       17.27
2       65.64        94         100        3.27
3       61.48        73          10        2.39
4       56.73        58          16        7.56
..        ...       ...         ...         ...
552     88.65        45           2        2.48
553     90.34        54          77        3.38
554     60.15        67         100       14.97
555     76.95        95         100        3.49
556     77.32        73         100        6.91

[557 rows x 10 columns]

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kralendijk,BQ,2022-05-16 04:07:04,12.1500,-68.2667,80.58,83,20,17.27
5,5,Rikitea,PF,2022-05-16 04:10:47,-23.1203,-134.9692,77.49,67,61,20.04
10,10,Kavaratti,IN,2022-05-16 04:10:49,10.5669,72.6420,80.01,82,100,16.84
17,17,Airai,TL,2022-05-16 04:10:52,-8.9266,125.4092,75.96,52,3,2.44
23,23,Atambua,ID,2022-05-16 04:10:54,-9.1061,124.8925,85.44,58,0,3.76
29,29,Muli,MV,2022-05-16 04:10:56,2.9167,73.5667,83.64,79,98,18.14
33,33,Ramapuram,IN,2022-05-16 04:10:58,13.1167,79.2000,85.57,63,99,6.31
36,36,Noumea,NC,2022-05-16 04:10:59,-22.2763,166.4572,82.38,99,40,13.82
38,38,San Cristobal,VE,2022-05-16 04:10:59,7.7669,-72.2250,75.38,96,97,3.09
40,40,San Policarpo,PH,2022-05-16 04:11:00,12.1791,125.5072,84.90,71,36,11.99

In [17]:
preferred_cities_df.count()

City_ID       161
City          161
Country       161
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1      Kralendijk      BQ     80.58  12.1500  -68.2667
5         Rikitea      PF     77.49 -23.1203 -134.9692
10      Kavaratti      IN     80.01  10.5669   72.6420
17          Airai      TL     75.96  -8.9266  125.4092
23        Atambua      ID     85.44  -9.1061  124.8925
29           Muli      MV     83.64   2.9167   73.5667
33      Ramapuram      IN     85.57  13.1167   79.2000
36         Noumea      NC     82.38 -22.2763  166.4572
38  San Cristobal      VE     75.38   7.7669  -72.2250
40  San Policarpo      PH     84.90  12.1791  125.5072

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kralendijk,BQ,80.58,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino
5,Rikitea,PF,77.49,-23.1203,-134.9692,People ThankYou
10,Kavaratti,IN,80.01,10.5669,72.6420,Hotels in Lakshadweep Islands
17,Airai,TL,75.96,-8.9266,125.4092,
23,Atambua,ID,85.44,-9.1061,124.8925,Kost Alfa Flat
29,Muli,MV,83.64,2.9167,73.5667,Medhufushi Island Resort
33,Ramapuram,IN,85.57,13.1167,79.2000,Sri Annam Farms
36,Noumea,NC,82.38,-22.2763,166.4572,Hôtel Le Lagon
38,San Cristobal,VE,75.38,7.7669,-72.2250,Pirineos
40,San Policarpo,PH,84.90,12.1791,125.5072,Agapita M. Nicart

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))