## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weatherpy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,Kralendijk,BQ,80.58,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino
1,5,Rikitea,PF,77.49,-23.1203,-134.9692,People ThankYou
2,10,Kavaratti,IN,80.01,10.5669,72.6420,Hotels in Lakshadweep Islands
3,17,Airai,TL,75.96,-8.9266,125.4092,NaN
4,23,Atambua,ID,85.44,-9.1061,124.8925,Kost Alfa Flat

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Kralendijk']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Kralendijk']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Rikitea']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Kavaratti']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Airai']
vacation_stop3

   City_ID   City Country  Max Temp     Lat       Lng Hotel Name
3       17  Airai      TL     75.96 -8.9266  125.4092        NaN

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop2 = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop3 = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
start

(12.15, -68.2667)

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Kralendijk = start
Rikitea = stop1
Kavaratti = stop2
Airai = stop3 
roadtrip = gmaps.directions_layer(Kralendijk, Kralendijk, 
                                  waypoints=[Rikitea, Kavaratti, Airai],
                                  travel_mode="DRIVING")

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,Kralendijk,BQ,80.58,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino
1,5,Rikitea,PF,77.49,-23.1203,-134.9692,People ThankYou
2,10,Kavaratti,IN,80.01,10.5669,72.6420,Hotels in Lakshadweep Islands
3,17,Airai,TL,75.96,-8.9266,125.4092,NaN

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

In [19]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))